/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


 .nav {
  display: flex;
  max-width: 390px;
  background: orange;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  
}
img {
  height: 1rem;
  
 
}
h1 {
  display: inline;
  font-size: 20px;
}
a {
  display: block;
  margin: 0 auto;
}

.post-details {
  border: 1px solid black;
  text-align: center;
}

.create {
  /* display: none; */

}
.trashcan {
  height: 25px;
  width: 25px;
  float: right;
  margin-left: 8px;
}
.trashcan:hover {
  cursor: pointer;
}
#text-area {
  display: block;
  margin: 10px auto;
  width: 
}
@media screen and (min-width: 768px){
  .nav {
    max-width: 80vw;
    height: 80px;
    justify-content: space-around;
    position: relative;
  }
  img {
    height: 80%
  }
  .post-details {
    max-width: 80vw;
    margin: 0 auto;
  }
  h1 {
    font-size: 32px;
  }

}